
body {
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
  }
.wrapper {
  min-width: 800px;
}
.top {
  /* position: relative; */
  height: 100vh;

}
@keyframes bgAnime {
  0% { opacity: 0; }
  10% { opacity: 0.5; }
  25% { opacity: 1; }
  45% { opacity: 1; }
  65% { opacity: 0; }
  85% { opacity: 0; }
  100% { opacity: 0; }
}
.hero {
  position: absolute;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  background-size: cover;
  background-repeat: no-repeat;
  animation  : bgAnime 15s infinite;
}
.background1 {
  background-image: url(./images/hero.png);
}
.background2 {
  background-image: url(./images/company.png);
  animation-delay  : 5s;
}
.background3 {
  background-image: url(./images/buyandsell.png);
  animation-delay  : 10s;
}

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
}
@keyframes slide-top { 
  0% {
    transform: translateY(-64px);
  }
  90%{
    transform: translateY(-64px);;
  }
  100% {
    transform: translateY(0);
  }
}
.logo {
  animation-name: slide-top;
  animation-duration: 2.5s;
  top: 0;
  height: 80px;
}

.menu {
  animation-name: slide-top;
  animation-duration: 2.5s;
display: flex;
padding-left: 0px;
margin: auto 0 auto 20px;
}
.menu-item {
  padding-left: 20px;
  list-style: none;
}
.menu-item:first-child {
  padding-left: 0;
}
.menu-button {
  color: #FFF;
  text-decoration: none;
}
.menu-ruby {
  text-align: center;
  font-size: 10px;
  color: #FFF;
  margin: 0;
}
.menu-button.change-color {
  color: #000
}
.menu-ruby.change-color {
  color: #000
}
.top-massages {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 405px;
}

@keyframes slide-left { 
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0);
  }
}
.top-massage {
  animation-name: slide-left;
  animation-duration: 1s;
  font-size: 28px;
  border-bottom: 1px solid;
  width: 363px;
  margin: 0;
}
.top-massage2 {
  animation-name: slide-left;
  animation-duration: 2s;
  font-size: 28px;
  border-bottom: 1px solid;
  width: 183px;
  margin-top: 10px;
}
@keyframes fadein {

  0% { opacity: 0; }
  50% { opacity: 0; }
  65% { opacity: 0.5; }
  85% { opacity: 1; }
  100% { opacity: 1; }
}
.top-massage-ruby {
  animation-name: fadein;
  animation-duration: 3s;
  text-align: center;
  margin: 0;
}

.contents-section {
  margin-top: 100px;
}
.contents-border {
  animation-duration: 1s;
  border-top: solid 2px;
  width: 80px;
  margin: 0 auto;
}
.contents-title {
  animation-duration: 1s;
  margin: 18px auto 0;
  width: 180px;
  text-align: center;
  font-size: 22px;
  letter-spacing: 4px;
  line-height: 23px;
}
.contents-ruby {
  animation-duration: 1s;
  margin: 0 auto;
  width: 150px;
  text-align: center;
  font-size: 12px;
}
.message-text {
  text-align: center;
  font-size: 14px;
  line-height: 28px;
}
.approach-images {
  padding: 0;
}
.approach-image {
  list-style: none;
  margin-top: 100px;
}
.approach-images li:first-child{
  margin-top: 0px;
}
.approach-picture-box {
  position: relative;
}
.approach-picture {
  width: 80%;
}
.approach-box {
  position: absolute;
  top: 7%;
  right: 0;
  width: 380px;
  padding: 15px 0;
  background: rgb(255,255,255,0.8) ;
  color: #000;
  margin-left: auto;
  text-align: center;
}
.approach-picture-box-even {
  position: relative;
  text-align: right;
}
.approach-box-even {
  position: absolute;
  top: 7%;
  left: 0;
  width: 380px;
  padding: 15px 0;
  background: rgb(255,255,255,0.8) ;
  color: #000;
  margin-left: auto;
  text-align: center;
}
.approach-title {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
}
.approach-ruby {
  font-size: 11px;
}
.approach-text {
  margin: 10px 0 0 ;
}
.instagram-items {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.instagram-items img:hover{
  transform:scale(1.15,1.15);
  border-radius: 50%;
}
.instagram-image {
  width: 20%;
  height: 20%;
  margin-left: 30px;
}
.company-images {
  position: relative;
  margin-top: 30px;
}
.company-image {
  width: 51%;
}
.company-box {
  position:absolute;
  top: 25px;
  right: 25px;
  width: 51%;
  padding: 25px;
  background-color: rgb(77, 77, 77,0.8);
  display: flex;
  justify-content: center;
  color: #FFF;
}
.company-box-text1 {
  font-size: 14px;
}
.company-box-text2 {
  font-size: 14px;
  margin-left: 30px;
}
.map {
  text-align: center;
  font-size: 13px;
  margin: 30px 0 10px;
}
.map-image {
  display: block;
  margin: 0 auto;
  width: 65%;
}
.fade {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1s;
}
.company-name {
  text-align: center;
  font-weight: lighter;
  letter-spacing: 1.5px;
  font-size: 16px;
}
.contact-text {
  text-align: center;
  font-size: 12px;
}
.contact-form {
  height: 45px;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  color: #FFF;
}
.contact-form div:hover{
  transform:scale(1.15,1.15);
  background-color: rgb(202, 66, 56);
}
.tel {
  display: flex;
  justify-content: center;
  width: 160px;
  padding: 10px;
  background-color: rgb(255, 149, 78);
}
.tel-logo {
  height: 26px;
  margin: auto;
}
.tel-number {
  margin: auto auto auto 10px;
}
.mail {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  padding: 10px;
  width: 220px;
  background-color: rgb(255, 149, 78);
}
.mail-logo {
  height: 20px;
  margin: auto;
}
.mail-address {
  margin: auto;
  margin: auto auto auto 10px;
}
.reception{
  width: 300px;
  margin: 20px auto 0;
}
.reception-time {
margin: 0;
}
.holiday1 {
margin: 0;
}
.holiday2 {
margin: 0;
padding-left: 68px;
}
.copy-right {
  width: 210px;
  margin: 0 0 0 auto;
}


/* 左右のフェードイン(short) */
.fadein-right {
	opacity : 0.2;
	transform : translate(100px,0);
	transition : all 400ms;
	}
.fadein-left {
  opacity : 0.2;
  transform : translate(-100px,0);
  transition : all 400ms;
  }
/* 画面内に入った状態 */
.fadein-right.scrollin {
	opacity : 1;
	transform : translate(0, 0);
	}
.fadein-left.scrollin {
	opacity : 1;
	transform : translate(0, 0);
	}


/* 左右のフェードイン(long) */
  .fadein-right2 {
    opacity : 0.2;
    transform : translate(1000px,0);
    transition : all 900ms;
    }
  .fadein-left2 {
    opacity : 0.2;
    transform : translate(-1000px,0);
    transition : all 900ms;
    }
/* 画面内に入った状態 */
    .fadein-right2.scrollin2 {
      opacity : 1;
      transform : translate(0, 0);
      }
    .fadein-left2.scrollin2 {
      opacity : 1;
      transform : translate(0, 0);
      }
